h1 {
    color: #2cd809;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.link {
    display: inline-block;
    padding: 10px 20px; /* Ajusta el padding según sea necesario */
    font-size: 20px; /* Ajusta el tamaño de la fuente */
    text-decoration: none; /* Elimina el subrayado predeterminado */
    color: #ffffff; /* Color del texto */
    background-color: #3f079b; /* Color de fondo */
    border-radius: 5px; /* Añade esquinas redondeadas */
    border: 2px solid #e67bcb; /* Añade borde */
    transition: all 0.3s ease;
    margin-top: 10px;
  }
  
  .link:hover {
    background-color: #c00698;
  }
