#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* html, body {
  background-color: #5e15beaf;
} */

h1 {
  color: #2cd809;
}

img {
  max-width: 400px;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.link {
  display: inline-block;
  padding: 10px 20px;
  /* Ajusta el padding según sea necesario */
  font-size: 20px;
  /* Ajusta el tamaño de la fuente */
  text-decoration: none;
  /* Elimina el subrayado predeterminado */
  color: #ffffff;
  /* Color del texto */
  background-color: #3f079b;
  /* Color de fondo */
  border-radius: 5px;
  /* Añade esquinas redondeadas */
  border: 2px solid #e67bcb;
  /* Añade borde */
  transition: all 0.3s ease;
  margin-top: 10px;
}

.link:hover {
  background-color: #c00698;
}

.authcontainer {
  position: relative;
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
  text-align: center;
  background-color: #1a1a1a;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.loginform {
  margin: 0 auto;
  position: relative;
  display: block;
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.loginform p {
  top: -8px;
  text-align: center;
  height: 3px;
  color: red;
}

.loginform input {
  display: block;
  width: calc(100% - 20px);
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.loginform button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.loginform button:hover {
  background-color: #555;
}

.homeheader {
  width: 100%;
  padding: 20px;
  text-align: center;
}

strong {
  color: red;
}

.homeheader img {
  width: 65%;
  height: auto;
}

.homeheader h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.homeheader h2 {
  font-size: 1.2em;
  margin-top: 10px;
}

/* Botones */
.switchbuttons {
  position: static;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.switchbuttons button {
  background-color: #4caf50;
  /* Verde */
  width: 60%;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 0;
  /* Elimina el margen horizontal */
  cursor: pointer;
}

.switchbuttons button:hover {
  background-color: #3e8e41;
  /* Verde más oscuro */
}

/* Eliminar espacio blanco sobrante */
.homeheader+.switchbuttons {
  margin-top: 0;
  /* Elimina el margen superior del contenedor de botones */
}

.alojamientos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 100px;
  list-style-type: none;
}

.alojamientos-item {
  margin: 10px;
  border-radius: 10px;
  text-align: center;
}

.alojamientos-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.perfilform {
  display: flex;
  /* Layout the form elements in a row */
  flex-direction: column;
  /* Arrange elements vertically */
  width: 300px;
  /* Adjust width as needed */
  margin: 20px auto;
  /* Add margin for spacing */
  padding: 20px;
  /* Add padding for spacing */
  border: 1px solid #ccc;
  /* Add a subtle border */
  border-radius: 5px;
  /* Add rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* Add a subtle shadow */
}

.perfilform label {
  display: block;
  /* Make labels block-level */
  margin-bottom: 5px;
  /* Add spacing between label and input */
  font-weight: bold;
  /* Make labels bolder */
}

.perfilform input[type="text"] {
  width: 100%;
  /* Make inputs span the full width */
  padding: 10px;
  /* Add padding for spacing */
  border: 1px solid #ccc;
  /* Add a subtle border */
  border-radius: 3px;
  /* Add rounded corners */
  box-sizing: border-box;
  /* Include padding and border in width calculation */
}

.perfilform input[type="text"]:focus {
  outline: none;
  /* Remove default outline */
  border-color: #007bff;
  /* Change border color on focus */
}

.perfilform button[type="submit"] {
  display: inline-block;
  /* Make the button an inline-block element */
  padding: 10px 20px;
  /* Add padding for spacing */
  margin-top: 10px;
  /* Add margin above the button */
  background-color: #007bff;
  /* Set background color to blue */
  color: #fff;
  /* Set text color to white */
  border: none;
  /* Remove default border */
  border-radius: 5px;
  /* Add rounded corners */
  cursor: pointer;
  /* Change cursor to pointer on hover */
  transition: background-color 0.3s ease;
  /* Add a smooth hover effect */
}

.perfilform button[type="submit"]:hover {
  background-color: #0056b3;
  /* Change background color on hover */
}

.accountimg {
  width: 66%;
}

#accounterror {
  position: relative;
  top: -8px;
  text-align: center;
  height: 3px;
  color: red;
}

.filtros {
  padding: 10px;
  margin: 5px;
}

.filtros input {
  margin: 6px;
  height: max-content;
}

.checkboxanimales {
  color: #e9f672;
  border: 1px solid #e9f672;
  padding: 2px;
  margin-right: 4px;
}

.reservar-button {
  margin: 8px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reservar-button:hover {
  background-color: #0056b3;
}

.reservas-component {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.reservas {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  gap: 1rem;
  list-style-type: none;
}

.reservas-item {
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.reservas-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.reservadetalles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservadetalles strong {
  margin-top: 20px;
}

.eliminar-reserva-btn {
  display: inline-block;
  /* Make the button an inline-block element */
  padding: 10px 20px;
  /* Add padding for spacing */
  margin-top: 10px;
  /* Add margin above the button */
  background-color: #007bff;
  /* Set background color to blue */
  color: #fff;
  /* Set text color to white */
  border: none;
  /* Remove default border */
  border-radius: 5px;
  /* Add rounded corners */
  cursor: pointer;
  /* Change cursor to pointer on hover */
  transition: background-color 0.3s ease;
  /* Add a smooth hover effect */
}

.eliminar-reserva-btn button:hover {
  background-color: #0056b3;
  /* Change background color on hover */
}

.carousel-container {
  width: 300px;
  /* Ajusta el ancho según sea necesario */
  margin: 0 auto;
  /* Centra el carrusel */
  position: relative;
}

.carousel-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-image {
  width: 100%;
  height: auto;
}

.crear-alojamiento {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.crear-alojamiento-form {
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
}

.crear-alojamiento-form label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #d4d738e1;
}

.crear-alojamiento-form input[type="text"],
.crear-alojamiento-form input[type="file"],
.crear-alojamiento-form textarea {
  margin-bottom: 15px;
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.crear-alojamiento-form input[type="checkbox"] {
  margin-right: 10px;
  margin-bottom: 15px;
}

.crear-alojamiento-form button {
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.crear-alojamiento-form button:hover {
  background-color: #218838;
}

.error {
  height: 5px;
  color: red;
}